click==7.1.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
processing-config @ git+https://github.com/ahmed-shariff/processing_config@master ; python_version >= "3.6" and python_version < "4.0"
wget==3.2; python_version >= "3.6" and python_version < "4.0"
